@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-neutral-900 text-neutral-300; */
  }

  * {
    min-width: 0;
    min-height: 0;

    @apply outline-neutral-700;

    &:focus-visible {
      @apply transition-all duration-100 outline outline-2;
    }
  }

  div {
    /* @apply flex flex-col */
  }

  h1 {
    @apply text-4xl tracking-tight font-semibold mt-[0.5lh];
  }

  h2 {
    @apply text-3xl tracking-tight font-medium mt-[0.5lh];
  }

  h3 {
    @apply text-2xl tracking-tight font-semibold mt-[0.5lh];
  }

  h4 {
    @apply text-xl tracking-tight font-semibold mt-[0.5lh];
  }

  p,
  ul,
  ol {
    @apply my-4 text-neutral-600 leading-relaxed;
  }

  ul,
  ol {
    @apply text-neutral-300 list-outside ml-6;
  }
  li {
    @apply pl-2 my-1.5 marker:text-neutral-500;
  }

  ul > li {
    @apply list-disc;
  }
  ol > li {
    @apply list-decimal;
  }

  fieldset {
    @apply my-4 flex flex-col gap-1.5;
  }

  label {
    @apply block text-sm;
  }
  .label-required, [data-required] {
    &::after{
      @apply content-['*'] text-xs align-top text-red-500;
    }
  }

  input,
  textarea,
  select {
    @apply rounded-md marker:text-white px-2 border border-neutral-200 placeholder:text-neutral-300
    outline outline-0 outline-neutral-100 
    focus-within:outline-4
    ;
    &[aria-hidden=true]{
      @apply hidden
    }
  }

  button, [type="button"], .button {
    @apply transition-all duration-75 font-medium bg-white 
    text-sm inline-flex

    fcenter

    cursor-pointer
    disabled:pointer-events-none
    disabled:opacity-30
    disabled:saturate-0

    border border-neutral-400/40 p-2 px-5 rounded-md
    /* hover:bg-neutral-500/10 */
    
    outline-blue-800/10
    outline
    outline-0
    hover:outline-4;

    &.destroy{
      @apply text-red-600 outline-red-200
    }
    &.primary{
      @apply bg-blue-600 text-white
    }
    &.ghost{
      @apply bg-transparent border-none px-4
    }
    &.lineunder{
      @apply outline-none rounded-none px-0 py-1
      ;
      &:hover {
        @apply shadow-[0_0.15rem_0_0_rgb(37_99_235_/_0.4)]
      }
    }
    &.icon {
      @apply p-1;
    }
  }

  pre {
    @apply p-8 bg-white/5 overflow-auto text-sm my-1;
  }

  table,
  th,
  td {
    /* @apply border border-neutral-700 border-collapse; */
  }
  table {
    /* @apply rounded-lg overflow-hidden */
    /* @apply my-2 min-w-[50%]; */
  }
  th,
  td {
    @apply p-1.5 px-2 text-left;
  }
  th {
    @apply font-normal text-black/40 text-sm;
  }

  hr {
    @apply my-[0.5lh]
  }
}

@layer components {
  .card {
    @apply rounded-md border border-blue-900/10 shadow-black/5 p-1 bg-white;

    &-big {
      @apply p-6 rounded-xl;
    }
    header {
      @apply text-lg font-medium
    }
  }
  .fields{
    td, th{
      @apply h-10 align-top
    }

    th {
      @apply bg-transparent text-neutral-400 pr-8 font-normal
       relative
      ;
      &::after {
        @apply content-[':'] absolute right-0
      }
    }
    td {
      @apply text-sm
    }
  }
  .fcol {
    @apply flex flex-col;
  }

  .frow {
    @apply flex flex-row;
  }

  .fcenter {
    @apply flex items-center justify-center;
  }
  .badge {
    @apply inline-flex bg-blue-100/50 text-blue-600 text-xs font-normal rounded-full p-1 px-3
  }

  .horizontal-tab {
    @apply border-b flex

    ;
    & a {
      @apply p-3 px-12 block text-neutral-500 text-sm
      
      ;
      &[data-selected=true] {
        @apply border-blue-600 border-b-2 text-blue-600 font-medium
      }
    }
  }
}
